## Average duration of treatment (drug / other) over all patients

In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

basmi_df = pd.read_excel('../data/clean_basmi.xls', index_col=(0,1))
basmi_df.head()

                       CRS  TWS  LSFS  LFS  IMS   BS Drug
patient_id Date
40         1995-05-09    3    1     6    5    3  3.6  NaN
           1995-06-01    3    1     8    5    3  4.0  NaN
           1995-06-12    2    1     5    3    2  2.6  NaN
           1995-11-02    1    1     3    4    2  2.2  NaN
           1996-05-02    2    1     4    3    2  2.4  NaN

## Average duration of treatment (days)

In [44]:
# List of drugs
drugs = [d for d in basmi_df['Drug'].unique() if not pd.isnull(d)]

# DataFrame to hold descriptive info
drugs_duration_df = pd.DataFrame(index = drugs, columns = ['avg_days','median_days','std_dev_days','count'] )


drugs_days = {drug: [] for drug in drugs}
for group, group_df in basmi_df.groupby(['Drug','patient_id']):
    start = min(group_df.index.get_level_values('Date'))
    end = max(group_df.index.get_level_values('Date'))
    
    days = pd.Timedelta(end-start).days
    
    drugs_days[group[0]].append(days)
      
for drug,days in drugs_days.items():
    drugs_duration_df.loc[drug] = [np.mean(days), np.median(days),np.std(days), len(days)]
    
drugs_duration_df

                   avg_days median_days std_dev_days count
Infliximab          3132.58        3256      890.052    12
Adalimumab           1763.2        1843      1155.04    75
Etanercept          2489.46      2677.5      1063.13    50
Certolizumab Pegol       11          11            0     1
Golimumab             405.5         361      381.702     8
Rituximab              1291        1291          850     2